<h1>Departments Store</h1>
<br />
<%= link_to "Add a new Department", new_department_path %>
<% @departments.each do |department| %>
    <h2><%= department.name %></h2>
    <p> <%=link_to "Show Department", department_path(department)%></p>
    <p> <%=link_to "Edit", edit_department_path(department)%></p>
<% end %>
