<h1>Department</h1>
<br />
<p>Name:<% @department.name %></p>
<p>Items:<% @department.item%></p>
<br />
<br />
<%= link_to "Edit Department", edit_department_path %>
<%= link_to "Delete Department", department_path(@department), method: :delete %>
<%= link_to "Back", departments_path %>

