<h1>Department</h1>
<p>Department Name:<% @department.name%></p>
<p>Department Items:<% @department.items%></p>
<p><%= link_to "Back", root_path%></p>
<p> <%=link_to "Edit", edit_department_path%></p>
<p> <%=link_to "Delete", department_path%></p>



